html { font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

body{
    background-color: #D9EFF2;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

button{
  white-space: nowrap;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:0%;
  width: -webkit-fill-available;
  background-color: #004C59;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
}

.header__top, .header__bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 6%;
  padding-right: 6%;
  width: inherit;
  padding-top: 2.5%;
}
.wrap-logo{
  flex: 1;
}
.header-contact{
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
}
.zapis {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  color: #004C59;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px 35px;
  transition: all 0.3s ease;
}



header nav{
  width: inherit;
}
header ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  list-style: none;
  padding-left: 0;
}
header a{
  white-space: nowrap;
  color: #D9EFF2;
  text-decoration: none;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  margin-right: 5%;
  margin-left: 5%;
}



/* Слайдер */
.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin: auto;
  height: 360px;
  border-radius: 20px;
  background: #BFD7B5;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: auto;
  height: 360px;
  border-radius: 20px;
}
/* Кнопки вперед и назад */
.slider .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 16px;
  padding-top: 19px;
  transition: 0.6s ease;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}
a.previous {
  left: 2%;
}
.slider .next {
  right: 2%;
  border-radius: 20px;
}
.right-arrow {
  transform: scaleX(-1);
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
/* Анимация слайдов */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

.heading{
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 5%;
  width: -webkit-fill-available;
}

.heading h1{
  font-weight: 600;
  width: inherit;
}

hr {
  position: relative;
  border-bottom: solid 2px;
  margin-top: -2%;
}

.agitation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 895px;
  width: -webkit-fill-available;
}

.agitation__left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.agitation__left .agitation__top-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
}

.agitation__top-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agitation__top-left img{
  margin-bottom: 20%;
}

.agitation__top-left .zapis{
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  color: #D9EFF2;
  background: #004C59;
}

.subheading{
  display: block;
  white-space: nowrap;
  width: -webkit-fill-available;
  text-align: left;
  font-size: 1.7vw;
  font-weight: 600;
  margin-bottom: 10%;
}

.img-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12%;
}

.services{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

table{
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}

thead{
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
}

.agitation__left .location, .phone{
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.agitation__left span{
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  white-space: nowrap;
  text-decoration: none;
}

.agitation__left a{
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.doctor{
  width: 613px;
  height: 811px;
  filter: grayscale(0.35) contrast(1.05);
}

/* Обвертка для обратной связи и карты */
.main__down-box{
  display: flex;
  flex-direction: row;
}

.main__down-box__feedback{
  width: 602px;
  height: 271px;
  background: #00798F;
}

.contact-us{
  font: 700 32px 'Raleway', sans-serif;
  position: relative;
}

.please{
  font: 400 15px/130% 'Raleway', sans-serif;
  position: relative;
  width: 325px;
}

.fb-input, .fb-input * {
  box-sizing: border-box;
  }

.fb-input{
  background: #bfd7b5;
  border-radius: 20px;
  width: 286px;
  height: 50px;
  position: relative;
}

.map{
  width: 568px;
  height: 317px;
  background: #BFD7B5;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 59, 65, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  background-color: #D9EFF2;
  color: #004C59;
  width: 40%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: inherit;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.modal-content .close-btn {
  position: absolute;
  margin-top: 0px;
  top: 8px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #004C59;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content .close-btn:hover {
  color: #BFD7B5;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.modal-content button {
  background-color: #004C59;
  color: #D9EFF2;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-content p:last-child {
  margin-bottom: 0;
}


footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: -webkit-fill-available;
  background-color: #004C59;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
  margin-top: 10%;
  padding: 17px 80px;
  gap: 20px;
  height: 116px;
}
.footer__left{
  flex: 1;
  border-left: 3px solid #00798F;
}
.footer__right{
  position: relative;
  flex: 1;
  border-right: 3px solid #00798F;
  text-align: right;
  padding-top: 1%;
  padding-bottom: 1%;
}
footer img{
  margin-right: 2%;
  vertical-align: middle;
}
footer a{
  white-space: nowrap;
  color: #D9EFF2;
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  font-feature-settings: 'pnum' on, 'lnum' on;

  margin-left: 2%;
}

@media screen and (min-width: 1401px){
  main {
    margin-top: 16%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .zapis{
    padding: 1em 2.3em;
  }

  .heading{
    font-size: 2.25vw;
  }

  .doctor{
    height: 960px;
    width: auto;
  }

  .agitation{
    height: auto;
  }

  .agitation__left article{
    margin-top: 5%;
  }
}