
.zapis {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all 0.3s ease;
  }
  .zapis--primary {
    background-color: #004C59;
  }
  .zapis--primary:hover {
    background-color: #A3C4BC;
  }
  .zapis--primary:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #BFD7B5;
  }
  .zapis--primary:active {
    background-color: #E7EFC5;
  }
  .zapis--primary:disabled {
    background-color: #F2DDA4;
    cursor: not-allowed;
  }
  @media screen and (max-width: 768px) {
    .zapis {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .zapis {
      font-size: 12px;
      padding: 8px 16px;
    }
  }
  .zapis--primary {
    margin-left: 825px;
    margin-top: 28px;
  }